@media only screen and (max-width: 375px) 
{
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
 .Landing-main-div {
    width: 375px;
    height: 2811px;
}
.Image-hero {
   display: none;
}
.Rectangle {
    width: 375px;
    height: 240px;
}
.Modern-white {
    display: none;
}
.Modern-black {
    width: 343px;
    height: 110px;
    margin-top: 32px;
    margin-left: 16px;
}
.First-p {
    width: 343px;
    height: 112px;
    color: #444444;
    font-family: 'Outfit';
    font-style: light;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-top: 32px;
    margin-left: 16px;
}
.Our-location {
    width: 204px;
     height: 72px;
    background-color: #151515;
    }
    .Second-img1{
        margin-left: 16px;
        margin-top: 120px;
    }
.Landing-h4 {
    font-size: 20px;
    color: white;
    position: absolute;
    margin-top: 24px;
    margin-left: 32px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    }
.Arrow-div {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.Location-button {
    display: flex;
    cursor: pointer;
    }
.Second-img {
    display: none;
    }
.Second-img1 {
    width: 343px;
    height: 320px;
}
.Secod-div-h2 {
    font-size: 50px;
    color: #151515;
    width: 343px;
    height: 90px;
    font-family: 'Big Shoulders Display';
    font-style: black;
    font-weight: 900;
    line-height: 45px;
    margin-left: 16px;
    margin-top: 25px;
}
a {
    margin-top: 32px;
    margin-left: 16px;
}
.Second-p {
    width: 343px;
    height: 112px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-left: 16px;
    margin-top: 21px;
}
.Third-main-img {
    width: 343px;
    height: 480px;
    margin-left: 16px;
    margin-top: 32px;
}
.Third-right-img {
    width: 343px;
    height: 200px;
    margin-left: 16px;
    margin-top: 16px;
}
.Third-black-div {
    width: 343px;
    height: 293px;
    background-color: #151515;
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Third-div-h2 {
    width: 295px;
    height: 90px;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    font-family: 'Big Shoulders Display';
    font-style: Black;
}
.Third-p {
    width: 295px;
    height: 84px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-top: 24px;
}
footer {
    width: 375px;
    height: 336px;
    background-color: #151515;
    margin-top: 120px;
}
.Landing-h3 {
    width: 110px;
    height: 40px;
    color: #fff;
    font-size: 22px;
    margin-top: 48px;
    margin-left: 32px;
}
.Fourth-p {
    width: 311px;
    height: 104px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
    margin-top: 38px;
    margin-left: 32px;
}
.Landing-footer {
    display: flex;
    flex-direction: column;
}
.Div-icons {
    display: flex;
    gap: 20px;
    margin-left: 32px;
}
}